jupyter
cgal
pin
example-robot-data
meshcat
ipywidgets
ipympl
roboticstoolbox-python>=1.1
pycapacity >=2.1
scipy
plotly
pandas
pin-pink
qpsolvers
# rerun stuff
rerun-sdk==0.15.1
trimesh >= 4
pycollada
##################
# for formatting and stuff
black
isort
# autoflake
