jupyter
cgal
pin
example-robot-data
meshcat
ipywidgets
ipympl
roboticstoolbox-python
pycapacity >=2.1
scipy<=1.11 # remove after roboticstoolbox-python fixes #412
plotly
pandas
# rerun stuff
rerun-sdk==0.15.1
trimesh >= 4
pycollada
##################
# for formatting and stuff
black
isort
# autoflake
